/* Stiluri pentru Pagina Home */
.vh-100 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffcccb, #ff69b4);
    color: #fff;
}

.display-4 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-light {
    background-color: #fff;
    color: #ff69b4;
    border-color: #fff;
}

.btn-light:hover {
    background-color: #ff69b4;
    color: #fff;
    border-color: #ff69b4;
}

